<?xml version="1.0" standalone='no'?><!--*-nxml-*-->
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">

<service-group>

  <name replace-wildcards="yes">coap service on %h</name>

  <service protocol="ipv4">
    <type>_coap._udp</type>
    <domain-name>local</domain-name>
    <host-name>node1.local</host-name>
    <port>5683</port>
    <txt-record>this=is</txt-record>
    <txt-record>a=really</txt-record>
    <txt-record>bad=example</txt-record>
  </service>

</service-group>
