	<head>
		<script src="../static/jquery.js"></script>
		<script type=text/javascript>
			$(function() {
			  $('a#process_check').bind('click', function() {
				$.getJSON('/tempbackground_proc',
				function(data) {
				  $("#result").text(data.result);
				});
				return false;
			  });
			});
		</script>
	</head>
  
	<body>
		<div class='container'>
		<h3>The Current Temperature is: </h3>
				<a href=# id=process_check><button class='btn btn-default'>Check</button></a>
		<p id=result>...</p>
		</div>
	</body>
